#TagContainer {
  margin: 10px 0;
}

.existing-tag {
  background: #eee;
  padding: 5px 25px 5px 10px;
  margin-right: 12px;
  position: relative;
}

.delete-tag {
  content: "x";
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 3px 7px;
  cursor: pointer;
}

#AddTagsBtn {
  margin-top: 8px;
}

#TagInputGroup {
  width: 35%;
  margin-top: 10px;
}
