body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4d4d4d;
}

h3 {
  margin-bottom: 6px;
}

a:link,
a:visited {
  color: #4d4d4d;
}

header {
  grid-area: header;
}

section.book-list {
  grid-area: book-list;
}

section.book-detail {
  grid-area: book-detail;
}

footer {
  grid-area: footer;
}

.grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "header header header header"
    "book-list book-detail book-detail book-detail"
    "footer footer footer footer";
  grid-gap: 15px;
}

.grid section,
.grid header,
.grid footer {
  padding: 20px;
}

.white-bg {
  background: #fff;
}

.white-bg:hover {
  background: #eee;
}

.grey-border {
  border: 1pt solid #d6d6d6;
  padding: 15px;
}

.book-list-single {
  margin: 15px 0;
  display: block;
  text-decoration: none;
}

.book-detail-thumbnail {
  float: left;
  margin-right: 15px;
}

@media (max-width: 576px) {
  .grid {
    grid-template-areas:
      "header header header header"
      "book-list book-list book-list book-list"
      "footer footer footer footer";
  }

  .book-detail {
    display: none;
  }
}
