@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|PT+Serif:400,400i,700,700i");

:root {
  --main-gray: #707070;
  --hover-gray: #e3e3e3;
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  justify-content: space-around;
  line-height: 150%;
  margin: 0;
  padding: 1% 4%;
}

p {
  margin: 0;
  padding: 0;
}

#Jomb {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "title nav nav nav"
    "header-divider header-divider header-divider header-divider"
    "sidebar detail detail detail"
    "footer-divider footer-divider footer-divider footer-divider"
    "footer footer footer footer";
  grid-template-rows: auto;
}

#SiteTitle,
#SiteNav,
#HeaderRight {
  margin-top: 10px;
}

#SiteTitle h1 {
  color: var(--main-gray);
  font-family: "PT Serif", serif;
  font-size: 28px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.divider {
  align-items: center;
  border-bottom: 3px solid var(--hover-gray);
}

#HeaderDivider {
  grid-area: header-divider;
}

#FooterDivider {
  grid-area: footer-divider;
}

header {
  display: flex;
  align-items: flex-end;
}

#SiteTitle {
  grid-area: title;
}

#SiteNav {
  grid-area: nav;
  text-align: right;
}

#SiteNav div {
  display: inline-block;
}

#SiteNav a {
  margin-left: 30px;
}

a,
a:visited,
button {
  background-color: white;
  border: 1pt solid var(--main-gray);
  color: var(--main-gray);
  display: inline-block;
  padding: 3px 17px;
  text-decoration: none;
  text-transform: lowercase;
}

a:hover,
a:active,
a:focus,
button:hover,
button:focus {
  background-color: var(--hover-gray);
}

h1 a {
  border: 0;
}

h1 a:hover,
h1 a:active,
h1 a:focus {
  background-color: transparent;
}

input {
  border: 1pt solid var(--main-gray);
  border-right: none;
  color: var(--main-gray);
  padding: 3px;
}

a:focus {
  border-color: blue;
}

#SideBar {
  grid-area: sidebar;
  min-width: 300px;
  max-height: 78vh;
  overflow: auto;
  padding: 0 15px;
}

#BookDetail {
  grid-area: detail;
}

#Footer p {
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  #Jomb {
    grid-template-areas:
      "title title title title"
      "nav nav nav nav"
      "header-divider header-divider header-divider header-divider"
      "sidebar sidebar sidebar sidebar"
      "detail detail detail detail"
      "footer-divider footer-divider footer-divider footer-divider"
      "footer footer footer footer";
  }

  #SideBar {
    max-height: 400px;
    overflow: auto;
    padding: 0 5px;
  }

  #BookList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  #BookList .search-bar,
  #BookList .book-tile-container {
    padding: 0 10px;
  }

  .book-tile-container {
    display: flex;
    max-width: 450px;
    min-width: 250px;
    flex: 1;
  }

  .book-tile {
    flex: 1;
  }
}
