@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|PT+Serif:400,400i,700,700i");

:root {
  --main-gray: #707070;
  --hover-gray: #e3e3e3;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  justify-content: space-around;
  line-height: 150%;
  margin: 0;
  padding: 4%;
}

p {
  margin: 0;
  padding: 0;
}

#SiteTitle,
#SiteNav,
#HeaderRight {
  margin-top: 10px;
}

#SiteTitle h1 {
  color: var(--main-gray);
  font-family: "PT Serif", serif;
  font-size: 28px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  border-bottom: 3px solid var(--hover-gray);
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 17px 0;
  margin-bottom: 17px;
}

#SiteNav a {
  margin-left: 30px;
}

a,
a:visited,
button {
  background-color: white;
  border: 1pt solid var(--main-gray);
  color: var(--main-gray);
  display: inline-block;
  padding: 3px 17px;
  text-decoration: none;
  text-transform: lowercase;
}

a:hover,
a:active,
a:focus,
button:hover,
button:focus {
  background-color: var(--hover-gray);
}

input {
  border: 1pt solid var(--main-gray);
  border-right: none;
  color: var(--main-gray);
  padding: 3px;
}

a:focus {
  border-color: blue;
}

#SiteNav {
  flex-grow: 5;
}

#HeaderRight {
  text-align: right;
  flex-grow: 1;
}

#Main {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#SideBar {
  flex: 1;
  min-width: 300px;
}

#BookDetail {
  flex: 4;
}
